.NewTodoForm {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.NewTodoForm label {
  min-width: 100%;
  margin-top: 0.5rem;
  font-size: 1.3rem;
}

.NewTodoForm input {
  flex-grow: 1;
  border: none;
  border-radius: 10px;
  background: #f7f1f1;
  padding: 0 1.5em;
  font-size: initial;
}

.NewTodoForm input:focus {
  outline: none;
}

.NewTodoForm button {
  padding: 0 1.3rem;
  border: none;
  border-radius: 10px;
  background: #ffadad;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  cursor: pointer;
  transition: background 0.2s ease-out;
}

.NewTodoForm button:hover {
  background-color: #ff595e;
}
.NewTodoForm input,
.NewTodoForm button {
  height: 3rem;
}
